/*img 
{
	display: inline-block;
	vertical-align: top;
}

div
{
	
	display: inline-block;
	vertical-align: top;
	border: black 1px solid;
	margin-left: 20%; 


form
{
	display: inline-block;
	vertical-align: top;
	border: black 1px solid;
}

#formOverflow
{
	display: inline-block;
	vertical-align: top;
	border: black 1px solid;
}*/

#reservation
{
	/*display: inline-block;
	text-align: right;*/
	position: absolute;
	margin: 0% 80%;
	background-color: #00FA9A;
}

#text
{
	display: inline-block;
	vertical-align: top;
}

/*#picture
{
	display: inline-block;
	vertical-align: top;
}*/
