body {
  background-color: #1e262c;
}

table { 
  text-align: center;
  font-size: 14px;
}

table.tableau {
  height: 800px;
  width: 1200px;
}

table.tableau td {
  border: 1px solid black;
  background-color: #68D2C3;
}

table.tableau th { 
  color: white;
}

.titre {
  color: #ffffff;
}