img 
{
	display: inline-block;
	vertical-align: top;
}

div
{
	display: inline-block;
	vertical-align: top;
	border: black 1px solid;
}

#attention
{
	display: inline-block;
	vertical-align: top;
	border: black 1px solid;
}