.imgprofil
{
	display: inline-block;
	vertical-align: top;
}


.infos
{
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
	border: #68D2C3 1px solid;
	padding: 1%;
}

.infos, label
{
	color: grey;
	font-weight: bold;
}

#reservation
{
	/*display: inline-block;
	text-align: right;*/
	position: absolute;
	margin: 0% 80%;
	background-color: #68D2C3;
}

#text
{
	display: inline-block;
	vertical-align: top;
}


.formOverflow
{
	display: inline-block;
	vertical-align: top;
}


.marre
{
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px #68D2C3;
	cursor:pointer;
	width: 100px;
}

.marre2
{
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px #68D2C3;
	cursor:pointer;
	width: 150px;
	margin-top:5%;
	background-color: #68D2C3;
}
