.imgprofil
{
	display: inline-block;
	vertical-align: top;
}

/*
div
{
	
	display: inline-block;
	vertical-align: top;
	border: black 1px solid;
	margin-left: 20%; 


form
{
	display: inline-block;
	vertical-align: top;
	border: black 1px solid;
}

#formOverflow
{
	display: inline-block;
	vertical-align: top;
	border: black 1px solid;
}*/

.infos
{
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
}

#reservation
{
	/*display: inline-block;
	text-align: right;*/
	position: absolute;
	margin: 0% 80%;
	background-color: #68D2C3;
}

#text
{
	display: inline-block;
	vertical-align: top;
}

.attention
{
	display: inline-block;
	vertical-align: top;
	border: #68D2C3 1px solid;
	/*padding: 1%;*/
	background-color: #68D2C3;
	color : white;
	position: absolute;
	margin: 0% 50%;
	width: 35%;
}

.formOverflow
{
	display: inline-block;
	vertical-align: top;
}

.comzone
{
	/*background-color: ;*/
	border-bottom: black 1px solid;
}
